/* common */
.body__container {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
}

/* SECTION */

.section {
  position: relative;
}

.section .inner {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

/* 버튼 */
.btn {
  color: #403d34;
  height: 34px;
  background: #eeeedd linear-gradient(to bottom, #efece7, #cfc9bd);
  border: 1px solid #8e887a;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

.btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.07);
}

.btn.btn--primary {
  color: #2d2b26;
  background: linear-gradient(to bottom, #eeeedd, #665544);
}

/* INPUT TEXT */
.input--text {
  height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.75);
  font-size: 16px;
}

.input--text:focus {
  border-color: #555544;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.75), 0 1px 2px #aaaa99;
}

/* 업체별 브라우저 접두사 */
.input--text::-webkit-input-placeholder {
  color: #cacaca;
}
.input--text::-ms-input-placeholder {
  color: #cacaca;
}
.input--text::-moz-input-placeholder {
  color: #cacaca;
}

/* FLOAT CLEARFIX */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

header {
  border-bottom: 0.5px solid #312b02;
  box-shadow: 0 0 5px rgbx(0, 0, 0, 0.75);
}

/* HEADER */
header .inner {
  height: 80px;
  margin: 0 auto;
}

.logoimg {
  width: 55px;
  height: 40px;
  margin: 0 10px 0 15px;
}

header .menu-group {
  display: flex;
  align-items: center;
  height: 100%;
}

header .menu-group a {
  display: block;
  padding: 10px;
  color: #483f04;
}

header .menu-group a:hover {
  color: #717845;
}

header .menu-list {
  display: flex;
}

.sign-group {
  display: flex;
  align-items: center;
  height: 100%;
}

header .button-group {
  order: 2;
}
header .input--text {
  order: 1;
  margin-right: 8px;
  font-size: 14px;
}
header .login-menu ul {
  display: flex;
  order: 0;
  margin-right: 10px;
}

header .login-menu li {
  font-size: 13px;
}
header .login-menu li a {
  display: block;
  padding: 8px;
  color: #483f04;
}

header .login-menu li a:hover {
  color: #717845;
}
/* 
.section--visual {
  height: 600px;
  background-image: url("../imgs/wit.png");
  background-repeat: none;
  background-position: bottom left;
  background-size: cover;
} */

.section--visual {
  height: 500px;
  background-image: url("../imgs/wittgenstein.jpeg");
  background-position: top left;
  /* background-size: cover; */
}

.section--visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.section--visual .inner {
  display: flex;
  padding: 160px 0;
}

.section--visual .summary {
  margin-right: 5px;
}

.section--visual .summary__title {
  color: #efece7;
  font-size: 40px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  line-height: 1.12;
}

.section--visual .summary__description {
  color: #efece7;
  font-size: 18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

#sign-form .input--text {
  width: 100%;
  height: 30px;
}

#sign-form li {
  margin-bottom: 8px;
}

#sign-form .caption {
  font-size: 13px;
  color: #efece7;
  line-height: 1.5;
  text-align: center;
}

#sign-form [type="submit"] {
  width: 100%;
  height: 40px;
  padding: 0 25px;
  font-size: 20px;
  margin-top: 4px;
  justify-content: center;
  padding: 0 25px;
}
